.bottom-bar {
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  padding: 0 40px 28px;
  color: #828282;
}

.company-info {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  flex-grow: 1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #7a1eff;
  width: 40px;
  height: 40px;
}

.buttons-group {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &--zoom {
    gap: 1px;
    display: flex;
    flex-direction: column;
  }
}
